{% extends "layout.html" %}
{% block body %}
        <hr color="brown" width=70% align="left" size="7">
        <header>BROWN UNIVERSITY</header>
        <hr color="brown" width=70% align="right" size="7"> <br>

        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Manning_Chapel.jpg/240px-Manning_Chapel.jpg" width="220" height="150" align="left">
        <br>
        <p>Brown University is a private Ivy League research university in Providence, Rhode Island, United States. Founded in 1764 as the College in the English Colony of Rhode Island and Providence Plantations, it is the seventh-oldest institution of higher education in the U.S. and one of the nine colonial colleges chartered before the American Revolution.</p>
{% endblock %}