{% extends "layout.html" %}
{% block body %}
        <hr color="red" width=70% align="left" size="7">
        <header>HARVARD UNIVERSITY</header>
        <hr color="red" width=70% align="right" size="7"> <br>

        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/John_Harvard_statue.jpg/220px-John_Harvard_statue.jpg" width="200" height="230" align="right">
        <br>
        <p>Harvard University is a private Ivy League research university in Cambridge, Massachusetts. Established in 1636 and named for its first benefactor clergyman John Harvard, Harvard is the United States' oldest institution of higher learning, and its history, influence, and wealth have made it one of the world's most prestigious universities.</p>
{% endblock %}