{% extends "layout.html" %}
{% block body %}
        <hr color="blue" width=70% align="left" size="7">
        <header>YALE UNIVERSITY</header>
        <hr color="blue" width=70% align="right" size="7"> <br>

        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Sterling_Memorial_Library_2%2C_September_1%2C_2008.jpg/220px-Sterling_Memorial_Library_2%2C_September_1%2C_2008.jpg" width="150" height="200" align="left">
        <br>
        <p>Yale University is an American private Ivy League research university in New Haven, Connecticut. Founded in 1701, it is the third-oldest institution of higher education in the United States and one of the nine Colonial Colleges chartered before the American Revolution.</p>
{% endblock %}